.header-box {
    background: pink;
    padding: 10px; 
}

.header-box button{
    font-size: 20px;
}

.header-box buttongame{
    font-size: 20px;
}

.input-nombre{
    font-size: 20px;
}

.body-table{
    font-size: 20px;
    background: purple;
    color:white;
    padding: 10px;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:white;
    padding: 10px;
    text-align: center;
}

.d-none {
    display: none !important;
}

.item{
    border-bottom: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.item div, a{
    
    margin: 5px;
    padding: 5px;
}

a{
    color:white;
    text-decoration: none;
}
.container-fluid {
    width: 100%;
  }
a:hover{
    text-decoration: underline;
}


.login{
    width: 100%;
    align-self: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh -200px)
}
.page-section {
    padding: 0rem 0;
  }

.menu__container{
    margin:0px auto;
    border-radius: 48px;
    border: 6px solid white;
    color: white;
    width: 400px;
    padding: 71px 16px 71px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    
}

.tables__container{
    margin:0px auto;
    border-radius: 48px;
    border: 6px solid white;
    color: white;
    width: 900px;
    padding: 71px 16px 71px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    
}

.login__form{
    display: inline-flex;
    flex-direction: initial;
    padding: 10px;
}

.inputEdit {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    height: 20px;
    padding: 0px 10px;
    width: 30%;
}

.inputCreateIdMessage {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    height: 20px;
    padding: 0px 10px;
    width: 50px;
}

.inputCreateMessage {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    height: 20px;
    padding: 0px 10px;
    width: 625px;
}



.inputEditMessage {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    height: 20px;
    padding: 0px 10px;
    width: 780px;
}

::placeholder{
    color:white;
}
.roww{
    border-right-color: white;
    border-right-width: 6px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-left-color: white;
    border-left-width: 6px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.coll{
        border-right-color: white;
        border-right-style: solid; 
        border-right-width: 6px;
        border-bottom-color: white;

        border-bottom-width: 6px;
        border-left-color: white;
        border-left-width: 6px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial
}
.button{
    border-radius: 25px;
    height: 40px;
    width:150px;
    margin: 15px 0px;
    background-color: rgba(255,255,255,0.3);
    color:white;
    font-size: 15px;
    transition: 1000ms background-color;
    letter-spacing: 1px;
    border: 0px;
}

.Createbutton{
    padding: 11px;
    border-radius: 25px;
    height: 40px;
    margin: 15px 0px;
    background-color: rgba(255,255,255,0.3);
    color:white;
    font-size: 15px;
    transition: 1000ms background-color;
    letter-spacing: 1px;
    border: 0px;
}

.Editbutton{
    border-radius: 25px;
    
    margin: 15px 0px;
    background-color: rgba(255,255,255,0.3);
    color:white;
    font-size: 15px;
    transition: 1000ms background-color;
    letter-spacing: 1px;
    border: 0px;
}

.buttongame{
    border-radius: 25px;
    height: 40px;
    margin: 0px 0px;
    background-color: rgba(19, 24, 88, 0.473);
    color:white;
    font-size: 15px;
    transition: 1000ms background-color;
    letter-spacing: 1px;
    border: 0px;
}

.buttongame:hover{
    background-color: rgba(255,255,255,0.1);    
    cursor:pointer;
}
.Createbutton:hover{
    background-color: rgba(21, 22, 88, 0.719);    
    cursor:pointer;
}
.Editbutton:hover{
    background-color: rgba(21, 22, 88, 0.719);    
    cursor:pointer;
}
.button:hover{
    background-color: rgba(21, 22, 88, 0.719);    
    cursor:pointer;
}

.menu__container--remember-me{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    margin-bottom: 60px;
}

.menu__container--remember-me input{
    font-size: 25px;
    margin:0px;
    margin-right: 4px;
}

.menu__container--social-media div{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top:10px;
    font-size: 14px;
}

.menu__container--social-media div label{
    cursor: pointer;
    margin-left:5px;
}

.menu__container--register{
    margin-top:50px;
    font-size: 14px;
}

.footer{
    background: #225bd6;
    height: 100%;
    width: 100%;
}

.mx-auto {
    margin-right: auto !important;
  }


.main{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
}

.main__title{
    color:white;
    font-size:25px;
}

.input {
    background-color: rgba(255,255,255,0.1);
    border:2px solid white;
    border-radius:30px;
    color:white;
    font-family: 'Muli', sans-serif;
    font-size:16px;
    height: 50px;
    padding:0px 20px;
    width:88%;
    outline: none;
}
::placeholder{
    color:white;
}
.casilla{
    height: 12vh;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    
}

img{  
    display:flex;
    margin:0 auto;
  }

.center{ 
    text-align:center;   
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}

.header__menu{
    margin-right : 30px;
}

.header__menu ul {
    display:none; 
    list-style: none;
    padding: 0px;
    position: absolute;
    width:100px;
    text-align: right;
    margin: 0px 0px 0px -10px;
}

.header__menu:hover ul, ul:hover{
    display:block;
}

.header__menu li a {
    color: white;
    text-decoration:none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu--profile{
    margin-right: 60px;
    width: 40px;
    display: flex;
    align-items: center;
    color:white;
    margin-top:15px
}

.header__menu--profile img{
    margin-right:4px;
}

.carousel{
    width:100%;
    overflow:scroll;
    padding:30px;
    position: relative;
}

.carousel_container{
    white-space: nowrap;
    margin:70px 0px;
    padding-bottom:10px; 
}
.mb-3 {
    margin-bottom: 0rem !important;
  }
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
  }
.carousel-item{
    width:200px;
    height: 250px;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor:pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px,0,0)
}

.carousel_container:hover .carousel-item{
    opacity: 0.3;
}

.carousel_container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100% );
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding:10px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-flow: column;
    justify-content: flex-end;
    color:white;
}

.carousel-item__details:hover{
    opacity: 1;
}

.carousel-item__details p{
    margin:2px 0px;
}

.carousel-item__details--title{
    font-size: 12px;
}

.text-center-message{
    text-align: center !important;
    color:white;
    font-size: small;
}

.text-center {
    text-align: center !important;
    color:white;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 853px) {
    .d-sm-none {
      display: none !important;
    }
}
@media (min-width: 853px) {
    .d-md-none {
        display: none !important;
    }
      
    .d-md-inline {
        display: inline !important;
    }
      
    .d-md-inline-block {
        display: inline-block !important;
    }
      
    .d-md-block {
        display: block !important;
    }
}