html{
    height:100%
}
body {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom:0px ;
    font-size: 11px;
    background-color: blueviolet;
    margin: 5px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    align-items: center;

}
td{
    font-size: 11px;
    text-align: left;
    color:black;
    border: solid 2px #ffffff;
    padding: 3px;
    background-color: #ccccff;
}
table{
    margin: auto;
}
button{
    margin: auto;
}